@if (user$ | async) {
<div class="flex justify-center items-center h-screen flex-col">
  <h1>Detail User</h1>
  <mat-card class="user-card m-4 justify-center">
    <mat-card-header>
      <mat-card-title>{{ (user$ | async)?.name }}</mat-card-title>
      <mat-card-subtitle>{{ (user$ | async)?.username }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>Email: {{ (user$ | async)?.email }}</p>
      <p>Phone: {{ (user$ | async)?.phone }}</p>
      <p>
        Website:
        <a href="http://{{ (user$ | async)?.website }}">{{
          (user$ | async)?.website
        }}</a>
      </p>
      <p>
        Address: {{ (user$ | async)?.address?.street }},
        {{ (user$ | async)?.address?.suite }},
        {{ (user$ | async)?.address?.city }},
        {{ (user$ | async)?.address?.zipcode }}
      </p>
      <p>
        Company: {{ (user$ | async)?.company?.name }} -
        {{ (user$ | async)?.company?.catchPhrase }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="{{ (user$ | async)?.website }}" target="_blank">{{
        (user$ | async)?.website
      }}</a>
    </mat-card-actions>
  </mat-card>

  <div class="bg-blue-500 text-white p-4">
    <a [routerLink]="['/']"> Go Back</a>
  </div>
</div>

}
<!-- Cards with media area -->
